/*     <div className="flex justify-center items-center h-screen w-full bg-gray-900" >
         <p className="text-white text-2xl w-[100%] text-center">
             Loading...
         </p>
     </div> 
*/


.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #1f2937;
}

.loading_text {
    color: white;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    width: max-content;
}

/* <div className="flex flex-col gap-4 justify-center items-center md:items-start w-full bg-gray-900 p-4 min-h-screen relative"> */
.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: #1f2937;
    position: relative;

}

/* <button onClick={() => router.push('/dashboard')} className="text-white absolute top-4 left-4"> */

.back_button {
    color: white;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

/* <div className="w-full md:w-[80%] lg:w-[60%] bg-gray-800 p-4 rounded-lg mt-16"> */

.card {
    width: 100%;
    max-width: 100%;
    background-color: #374151;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.heading {
    color: white;
    font-weight: bold;
    font-size: large;
    display: flex;
    gap: 8px;
    align-items: center;
}

.flex {
    display: flex;
    gap: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    align-items: center;
}

.avatar {
    width: 40px;
    border-radius: 50%;
}

.card_text {
    color: white;
}
.provider_text {
    color: gray;
    font-size: small;
}

.logout_button {
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;

}


@media (min-width: 768px) {
    .container {
        align-items: flex-start;
    }

    .card {
        max-width: 60%;
    }
}

/* large screen */

@media (min-width: 1024px) {
    .container {
        gap: 2rem;
    }

    .card {
        max-width: 40%;
    }
}