.loading_container {
    height: 100vh;
    background-color: #111827;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.main_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow-x: auto;
    color: white;
    background-color: #111827;
}

.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 10vh;
    background-color: #111827;
    color: white;

}

.navbar_left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar_image {   
    border-radius: 50%;
}

.table {
    margin: auto;
    margin-top: 10vh;
    max-width: 100%;
    width: 98%;
    overflow-x: scroll;
    text-align: center;
    border: none;
}

.table > thead {
    color: white;
    text-align: center;
}

.table > thead > tr > th {
    padding: 10px;
    background-color: #1d2942;
}

.table > tbody > tr {
    background-color: #111827;
}

.table > tbody > tr >  td {
    padding: 10px;
    border: 1px solid #dbdbdb10;
}




.tablebutton { 
    outline: none; 
    background-color: #1d2942;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #535353;
    display: none;
}

.disabledbutton { 
    outline: none; 
    background-color: #1d2942;
    color: #888888;
    border: 1px dashed #535353;
    padding: 10px;
    border-radius: 5px;
    cursor: not-allowed;
}


.tableDataEmail {
    background-color: green;
}

.tableDataRole {
    margin-top: auto;
    margin-bottom: auto;
    width: min-content;
    height: 100%;
}

.tableDataRole > button { outline: none; 
    color: white;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #1d2942;
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
}

.deleteButton {
    background-color: #1d2942;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    border: 1px solid #dbdbdb50;
}

.disabledButton {
    background-color: #1d2942;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    border: 1px solid #dbdbdb50;
    border: 1px dashed #dbdbdb50;

}

.logoutButton {
    background-color: #111827;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}