html,
body,
* {
  padding: 0;
  margin: 0;
}

:root {

}

* {
  box-sizing: border-box;
  text-transform: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.auth_page {
  /* flex justify-center items-center h-screen w-[100%] bg-[#2b2b2b] */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #111827;
}

.auth_container {
  /* block min-w-[90vw] md:min-w-[300px] lg:min-w-[400px] bg-[#3b3b3b] p-4 rounded-[20px] */
  display: block;
  min-width: 90vw;
  background-color: #1d2942;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 20px;
}

.supabase-auth-ui_ui-input {
  color: white;
}

@media screen and (min-width: 768px) {
  .auth_container {
    min-width: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .auth_container {
    min-width: 400px;
  }
}