.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #111827;
}

.loading_text {
    color: white;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    width: max-content;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: #111827;
    position: relative;

}


.back_button {
    outline: none;
    color: white;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: #111827;
}




.card {
    width: 100%;
    max-width: 100%;
    background-color: #1d2942;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.card:first-of-type {
    margin-top: 3rem;
}

.heading {
    color: white;
    font-weight: bold;
    font-size: large;
    display: flex;
    gap: 8px;
    align-items: center;
}

.flex_profile {
    display: flex;
    gap: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    flex-direction: column;
}

.flex {
    display: flex;
    gap: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    align-items: center;
}

.avatar {
    width: 40px;
    border-radius: 50%;
}

.card_text {
    color: white;
}

.provider_text {
    color: gray;
    font-size: small;
}

.logout_button {
    outline: none;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #1d2942;

}

.email_change {

    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 1rem;
    flex-wrap: wrap;

}

.email_input {
    background-color: #4b5563;
    color: #d1d5db;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    max-width: 100%;

}

.email_button {
    outline: none;
    background-color: #2563eb;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    gap: 8px;

}

.cancel_email_button {
    outline: none;
    background-color: #e42828;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;

}

.email_change_info {

    background-color: #6ee7b7;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    max-width: 100%;
    width: 100%;


}

.user_id_input {
    background-color: #4b5563;
    color: #d1d5db;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    max-width: 100%;

}

.uuid_change {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.update_button {
    outline: none;
    background-color: #2563eb;
    color: white;
    font-weight: bold;
    font-size: large;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

}

.delete_button {
    outline: none;
    background-color: #e42828;
    color: white;
    font-weight: bold;
    font-size: large;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;

}


.email_change_info_text {
    color: black;
    font-weight: 100;
    font-size: small;
}

.email_change_info_text_bold {
    font-weight: bold;
    color: #4848d8;
    text-decoration: underline;
}


.uuid_error_text {
    color: #e42828;
    font-weight: bold;
    font-size: small;
}

.uuid_success_text {
    color: #6ee7b7;
    font-weight: bold;
    font-size: small;
}

/* medium screen */

@media (min-width: 768px) {
    .container {
        align-items: flex-start;
    }

    .card {
        max-width: 60%;
    }

}

/* large screen */

@media (min-width: 1024px) {
    .container {
        gap: 2rem;
    }

    .card {
        max-width: 40%;
    }
}